.biograph {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.biograph .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.biograph .title_Profile {
    font-family: 'NeueMachina', sans-serif;
    text-align: center;

}

.biograph_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.biograph_content p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
}


.biograph_content p::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5rem;
}


.biograph_content .CodeJob::before {
    background-image: url('../Assets/CodeJob.svg');
}

.biograph_content .GitHub::before {
    background-image: url('../Assets/github.svg');
}

.biograph_content .Linkedin::before {
    background-image: url('../Assets/Linkedin.svg');
}

.biograph_content .Location::before {
    background-image: url('../Assets/Location.svg');
}

.biograph_content .Contact::before {
    background-image: url('../Assets/Contact.svg');
}

.biograph_content .Email::before {
    background-image: url('../Assets/Email.svg');
}